main.aux
main.bcf
main.fdb_latexmk
main.fls
main.log
main.run.xml
main.pdf
main.bbl
main.blg
main.toc
gegensinnig.pdf
gekoppelt.pdf
gleichsinnig.pdf
aufgabe1.txt
aufgabe23.txt
aufgabe4.txt
aufgabe5.txt
aufgabe6.txt
