main.aux
main.bcf
main.pdf
main.toc
main.run.xml
main.fdb_latexmk
main.fls
main.log
main.bbl
main.blg
matplotlibrc
.DS_Store
/auswertung/PlotRhodiumLinLog1.pdf
/auswertung/PlotRhodiumLinLogExtr1.pdf
/auswertung/PlotRhodiumLinLogKurzl1.pdf
/auswertung/PlotVanadiumLinLog1.pdf
/auswertung/PlotVanadiumLinLog2.pdf
