build
Anleitung

generate_table.cpython-38.pyc
tools.cpython-38.pyc
main.aux
main.bcf
main.log
main.pdf
main.toc
main.run.xml
main.fdb_latexmk
main.fls
main.bbl
main.blg
main.tex.bbl
main.tex.blg
x.log
.DS_Store

test.pdf
plot1.pdf
plot2.pdf
plot3.pdf