AuswertungWaermepumpe.aux
AuswertungWaermepumpe.log
AuswertungWaermepumpe.pdf
AuswertungWaermepumpe.toc
Druckverlaeufe.pdf
Temperaturverlaeufe.pdf
tabelle1.txt
tabelle2a.txt
tabelle2b.txt
tabelle3.txt
tabelle4.txt
tabelle5.txt
../texput.log
texput.log
AuswertungMessdaten.aux
Fehlerrechnung.aux
Fehlerechnung.aux
Fehlerrechnung.tex
Tabelle1.aux
