AuswertungWaermepumpe.aux
AuswertungWaermepumpe.log
Auswertungwaermepumpe.pdf
AuswertungWaermepumpe.toc
Druckverlaeufe.pdf
Temperaturverlaeufe.pdf
tabelle1.txt
tabelle2a.txt
tabelle2b.txt
tabelle3.txt
tabelle4.txt
tabelle5.txt
texput.log
