main.aux
main.bcf
main.log
main.pdf
main.toc
main.run.xml
main.fdb_latexmk
main.fls
main.bbl
main.blg
x.log
.DS_Store

auswertung/plot1.pdf
auswertung/plot2.pdf
auswertung/plot3.pdf
auswertung/plot4.pdf
